# MinIO Credentials & Endpoints
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_ENDPOINT=http://minio:9000
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

# Postgres Airflow Credentials
POSTGRES_AIRFLOW_DB=airflow_db
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow_pass
POSTGRES_AIRFLOW_PORT=5432

# Postgres Hive Metastore Credentials
POSTGRES_HIVE_DB=metastore_db
POSTGRES_HIVE_USER=hive
POSTGRES_HIVE_PASSWORD=hive_pass
POSTGRES_HIVE_PORT=5433

# Oracle Source Connection Credentials
ORACLE_HOST=10.0.0.1
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=ORCL
ORACLE_USER=db_user
ORACLE_PASSWORD=db_password
ORACLE_JDBC_URL=jdbc:oracle:thin:@//10.0.0.1:1521/ORCL
ORACLE_DRIVER=oracle.jdbc.driver.OracleDriver

# Airflow Settings
AIRFLOW_VERSION=3.0.0
AIRFLOW_UID=50000
AIRFLOW_PROD_IMAGE=apache/airflow:3.0.0-python3.11

# Spark Settings
SPARK_VERSION=3.5.1
ICEBERG_VERSION=1.5.2
HADOOP_AWS_VERSION=3.3.4
AWS_SDK_VERSION=1.12.262
